&timer1 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

/ {
	aliases {
		pps-out = &pps_out;
		debug-out = &debug_out;
		pps-in = &pps_in;
	};

	time_sync_gpios {
		compatible = "gpio-leds";

		pps_out: pps_out {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "PPS output";
		};

		debug_out: debug_out {
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			label = "Debug timing output";
		};

		pps_in: pps_in {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Reserved PPS input";
		};
	};
};
